* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;

    background: $white;

    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include jester;
}

h2 {
    @include jester;

    margin-bottom: 20px;

    font-weight: bold;
    font-size: $xlarge-text;
}

p {
    margin-bottom: 1.5em;

    font-size: 16px;
    line-height: 1.5em;
}

img {
    max-width: 100%;
}

a {
    color: $light-blue;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.container {
    min-height: 100%;
    margin-bottom: -56px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;

    &::after {
        content: '';

        display: block;
        margin-bottom: 56px;
    }
}
