$red: #ed1c24;
$light-blue: #08c;
$blue: #50bdfb;
$dark-blue: #005580;
$orange: #ff4200;
$yellow: #fcdf32;
$black: #000;
$grey: #eee;
$dark-grey: #999;
$white: #fff;

$normal-text: 16px;
$large-text: 18px;
$xlarge-text: 24px;
$xxlarge-text: 36px;
