.callout {
    margin: 1em 0 2em;
    padding: 1.5em 0;
    border-left: .5em solid $red;

    background-color: $grey;

    &.callout--youtube {
        .callout__content {
            margin-left: 4em;

            &::before {
                content: '';

                left: -2.75em;

                border-top: 1em solid transparent;
                border-bottom: 1em solid transparent;
                border-left: 1.5em solid #000;
            }
        }
    }

    &.callout--music {
        .callout__content {
            margin-left: 4em;

            &::before {
                content: ' ';

                left: -3em;

                width: 2em;
                height: 2.5em;

                background: url(/img/music-note.png) no-repeat;
                background-size: 2em auto;
            }
        }
    }
}

.callout__content {
    position: relative;

    margin: .5em 1em .5em 2em;

    font-family: 'Helvetica Neue';
    font-style: italic;
    font-size: 35px;
    line-height: 1.5em;

    &::before {
        @include vertical-align(absolute);
    }
}

.callout__link {
    font-weight: 300;
    text-decoration: none;

    &:hover {
        color: $dark-blue;
        text-decoration: underline;
    }
}

/* MOBILE */
@media only screen and (max-width : 600px) {
    .callout__content {
        font-size: 24px;
    }
}

@media only screen and (max-width : 400px) {
    .callout__content {
        font-size: 16px;
    }
}
