.story {
    padding: 30px 20px;
}

.story__image {
    float: right;
    width: 150px;
    margin: 10px 20px;
}

.story__title {
    @include jester;

    margin-bottom: 20px;
}

.story__title-link {
    color: $black;
    font-weight: 600;
    font-size: $xlarge-text;
    line-height: $xlarge-text*1.5;
    text-decoration: none;
}

/* MOBILE */
@media only screen and (max-width : 400px) {
    .story {
        padding: 10px 0;
        border-bottom: 1px solid $grey;

        text-align: center;

        &:last-of-type {
            border-bottom: 0;
        }

        p {
            text-align: left;
        }
    }
    .story__image {
        float: none;
    }
}
