.sheet-music__image {
    text-align: center;
}

.sheet-music__row {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $grey;
}

.sheet-music__key {
    color: $dark-grey;
    font-style: italic;
    line-height: 1.5em;
}

.sheet-music__range {
    line-height: 1.5em;
}

.sheet-music__price {
    margin-top: 20px;
}

.sheet-music__info {
    padding-left: 20px;
}

/* MOBILE */
@media only screen and (max-width : 700px) {
    .sheet-music__info {
        padding: 20px 0 0 0;
    }
}
