extends layout

block content
    blockquote.callout
        p.callout__content
            | Winner of 6 Ovation Awards in 2013, including Outstanding Production!
    .col-sidebar
        .col-sidebar__sidebar
            img.thumbnail.milkshake(src='/img/circle-milkshake.png', title='Milkshake')
        .col-sidebar__main.u--padding-left
            p
                | It's the classic story of a 
                strong love triangle
                | : a sweet 
                strong blonde
                | , a sexy 
                strong brunette
                | , and an ever-so-confused 
                strong redhead
                | . Set in 1996, the musical begins with Alex accidentally asking both Cathy and Erica to prom.
            p
                | When the girls find out, they demand he choose which one he wants to embark on his future with - 
                strong girl-next-door Cathy or sophisticated Erica
                | ?
            p
                | Such a big decision can be hard for a teenage boy, so 
                strong Alex enlists his girl-hating and hot-dog-loving best friend, Parker
                | , for help. But he needs to make his decision quickly because both Cathy and Erica have suitors of their own (
                strong Randy
                |  and 
                strong Dexter
                | ) who are vying to be with the girl of their dreams.
            p
                | Meanwhile, Parker is wrapped up in his own girl problems, since 
                strong Esther
                |  just doesn't take no for an answer!
            p
                strong So will it be Cathy? Will it be Erica?
                |  Who's it gonna be? Just wait and see!

    h2 Show History

    .col-sidebar
        .col-sidebar__main.u--padding-right
            p
                em Riverview High: The Musical
                |  began in April 2011 during a casual conversation in the car between 
                strong Stewart Yu
                |  (music and lyrics) and 
                strong Angela Wong
                |  (book). By the end of June 2011, Angela and Stewart had sketched out the storyline and completed six songs, which they tried out on a few friends in the first singthrough. 
                strong Mike Mackenzie
                | , signed onto the project at the end of 2011 to direct the production and to assist with lyrics.
            p
                | In February 2012, the 
                strong Vancouver Fringe Festival
                |  officially accepted 
                em Riverview High: The Musical
                |  as a BYOV artist. The piece was further developed in a series of workshops in April and May 2012. 
                em Riverview High: The Musical
                | 's made its world premiere on September 6, 2012 at the 
                strong Firehall Arts Centre
                |  and was an instant hit, selling out its run at the 
                strong Vancouver Fringe Festival
                | . It was voted Pick of the Fringe, and it was the best-selling show in the history of the Vancouver Fringe Festival.
            p
                | It also won the Ovation Award for 
                strong Outstanding Production
                |  (Small Theatre) 2013. In addition, our own 
                strong Michelle Bardach
                |  scored the award for Outstanding Supporting Performance (Female) for her portrayal of Esther. 
                strong Cameron Dunster
                |  (Parker) and 
                strong Alex Gullason
                |  (Mallory) also picked up the Outstanding Gypsy awards, while 
                strong Caleb di Pomponio
                |  (Dexter) and 
                strong Steffanie Davis
                |  (Jessie) were chosen by Vancouver's artistic leaders as Outstanding Newcomers.
            p
                | Directed by 
                strong Mike Mackenzie
                | , music directed by 
                strong Stewart Yu
                | , and choreographed by 
                strong Dawn Ewen
                | , 
                em Riverview High: The Musical
                |  made its return to Firehall Arts Centre from August 7-24, 2013.
            p
                | Since then, the creators made the musical available for licensing, with
                | a special school edition that debuted at Killarney Secondary School in
                | January 2015.
        .col-sidebar__sidebar
            img.workshop.thumbnail(src='/img/cast-workshop.jpg', title='Workshop Cast')
            p
                em Workshop cast of Riverview High
                img.fringe.thumbnail(src='/img/cast-fringe.jpg', title='Fringe Cast')
            p
                em 2012 Fringe cast of Riverview High

    blockquote.callout.callout--music
        p.callout__content
            a.callout__link(href='/licensing') Now available for licensing!
