extends layout

block content
    blockquote.callout.callout--music
        p.callout__content
            a(href="/licensing").callout__link Now available for licensing!

    a(href="https://www.youtube.com/watch?v=iq57ZqaD-_M&list=PLFt6eOAfeX7ewI5LbceUnZpD76e_uqaZ0&index=2")
        img(src="img/carousel/video.jpg")


    .col-2up
        .col-2up__column.story
            a(href="/about")
                img.story__image(src="img/circle-milkshake.png")
            h2.story__title
                a.story__title-link(href="/about") About the Show
            p
                | It's the classic story of a love triangle: a sweet blonde, a sexy brunette, and an ever-so-confused redhead. Set in 1996, the musical begins with Alex accidentally asking both Cathy and Erica to prom. When the girls find out, they demand he choose which one he wants to embark on his future with - girl-next-door Cathy or sophisticated Erica?
            p Who's it gonna be? Just wait and see!
            p
                a(href="/about") Read more...
        .col-2up__column.story
            a(href="/licensing")
                img.story__image(src="img/circle-randydexter.png")
            h2.story__title
                a.story__title-link(href="/licensing") License the Show
            p
                | This runaway Fringe Festival hit is the perfect show for your school's annual musical production, with a cast that scale from 18-30 students.
            p
                | With an upbeat contemporary pop theatre score containing themes of following your heart, being true to yourself, and discovering what really counts, it'll leave your audiences humming out of the auditorium!
            p
                a(href="/licensing") Find out more

    blockquote.callout.callout--youtube
        p.callout__content
            a.callout__link(href="https://www.youtube.com/watch?v=iq57ZqaD-_M&list=PLFt6eOAfeX7ewI5LbceUnZpD76e_uqaZ0&index=2") Watch the full musical on YouTube!
