extends layout

block content
    blockquote.callout.callout--music
        p.callout__content
            a.callout__link(href='mailto:stewart@riverviewhighthemusical.com')
                | Request a perusal
                | copy of the script!
    .col-sidebar
        .col-sidebar__sidebar
            img(src='/img/killarney-poster.jpg')
        .col-sidebar__main.u--padding-left
            p
                | Following an award-winning Fringe Festival run in 2012 and a
                | remount in 2013, the creative team began licensing 
                em
                    | Riverview High: The
                    | Musical (School Edition)
                | , which debuted at Killarney Secondary School in January 2015.
            p
                strong Style
                | : Fun, contemporary pop musical theatre.
            p
                strong Themes
                | : Romance, self-acceptance, diversity,
                |         being true to yourself, following your heart.
            p
                strong Cast Size
                | : 8 principals, 8-22 ensemble. All teenage roles.
            p
                strong Orchestra
                | : Keyboard, drums, bass, guitar.
            p
                strong Setting
                | : Riverview High School, 1996.

    .col-sidebar
        .col-sidebar__main.u--padding-right
            h2 Plot
            p
                | It's the classic story of a love triangle: a sweet blonde, a sexy brunette, and an ever-so-confused redhead. Set in 1996, the musical begins with Alex accidentally asking both Cathy and Erica to prom.
            p
                | When the girls find out, they demand he choose which one he wants to embark on his future with - girl-next-door Cathy or sophisticated Erica?
            p
                a.button(href='/about')  more about the show
        .col-sidebar__sidebar
            img(src='/img/circle-milkshake.png', title='Milkshake')
            
    .col-sidebar
        .col-sidebar__sidebar
            img(src='/img/alex-parker.jpg', title='Alex and Parker')
        .col-sidebar__main.u--padding-left
            h2 Principals
            p
                strong ALEX 
                em (baritenor)
                |  is a red-headed teenager who often thinks less with his brain and more with his crotch. He is simultaneously in love with Cathy and Erica and has a tough time committing to just one girl.
            p
                strong CATHY C. 
                em (mezzo)
                |  is a sweet, loveable blonde who has been friends with Alex since grade school - and has been in love with Alex for just as long. Her rival is Erica.
            p
                strong ERICA SNODGE 
                em (alto)
                |  is brunette vixen from the richest family in Riverview. She always gets what she wants and what she wants is Alex. Her rival is Cathy.
            p
                strong PARKER 
                em (baritone)
                |  is the best friend of Alex. He is a food-lover and a lady-hater. He is the unwilling object of Esther's affection.
            p
                strong DEXTER 
                em (tenor)
                |  is the smartest student at Riverview High. He is shy and has low self-esteem due to his nerdy appearance. He is secretly in love with Cathy, who is clueless about his feelings.
            p
                strong RANDY 
                em (tenor)
                |  is a rich teenager with a sharp tongue and a deep sense of entitlement. He believes that Erica belongs with him, and openly despises Alex for coming between him and Erica.
            p
                strong ESTHER 
                em (alto)
                |  is an awkward girl who transferred to Riverview High in her freshman year – the same year she fell in love with Parker. She often tries to win over Parker with her antics, but with little success.
            p
                strong SCARLETT CHAMBERS 
                em (alto)
                |  is a rich and flirty red-head. She attends Oceanview High – the arch rival school of Riverview High. She loves to seduce guys and toy with their affections.

    .col-sidebar
        .col-sidebar__main.u--padding-right
            h2 Ensemble
            p
                strong JASON SPANO
                |  is the Senior Class President at Riverview High.
            p
                strong JESSIE, MALLORY, and HARMONIE
                |  form Riverview High's
                |         hottest pop group, Jessie and the Bunnygirls.
            p
                strong CHAD, TAD, and BRAD
                |  are the rich jock friends of Randy
                |         and bully other students.
            p
                strong MINDY LAWFORD, FELICIA SILVERROCK, and KAT GLOSS
                |  are
                |         famous models who often grace the covers of magazines.
            p
                strong HALL MONITOR
                |  is the "enforcer" at Riverview High.
            p
                strong SODA JERK
                |  is the waiter at the Soda Fountain.
            p
                strong ROSA, SOPHIE and CAROL
                |  are Erica's maids who are constantly at her beck and call.
            p
                strong CHEERLEADERS
                |  of Riverview High. Their high-energy cheers always lift the spirit of the student body.
            p
                strong ARTIE
                |  is a cocky freshman who is entering his first year at Riverview High.
            p
                strong BETSY
                |  is the sweet blonde girlfriend of Artie.
            p
                strong VERONIKA
                |  is the sassy brunette girlfriend of Artie.
        .col-sidebar__sidebar
            img(src='/img/jessie-bunnygirls.jpg')
            p
                em Jessie and the Bunnygirls

    blockquote.callout.callout--youtube
        p.callout__content
            a.callout__link(href='https://www.youtube.com/watch?v=iq57ZqaD-_M&list=PLFt6eOAfeX7ewI5LbceUnZpD76e_uqaZ0&index=2') Watch the full musical on YouTube!
